@import "~@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: opacity,
    z-index,
    color ease-in-out 0.3s;
}

body {
    box-sizing: border-box;
    display: inline-block;
    width: 100vw;
    max-width: 100vw;
    clear: both;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 4px;
    }
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: #19191e4d;
        -webkit-box-shadow: 0 0 1px hsl(0deg 0% 100% / 50%);
    }
}

/* custom property group for tailwind */
@layer base {
    * {
        @apply font-kanit;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-updock;
        color: #4a0820;
    }

    h1 {
        @apply text-sm font-semibold sm:text-2xl;
    }

    h2 {
        @apply text-xs font-light sm:text-xl;
    }

    h3 {
        @apply sm:text-lg;
    }

    h4 {
        @apply text-base;
    }
}

@layer components {
    /* exemple of component css */
    .icon {
        @apply flex h-[20px] w-[20px] items-center justify-center text-white transition-all;
    }
}

.special-title{
    font-size: 7.7rem;
    line-height: 40rem;
}

/* for tablet */
@media screen and (min-width: 768px) {
    .special-title{
        font-size: 12rem;
        line-height: 40rem;
    }
}

/* for desktop */
@media screen and (min-width: 1024px) {
    .special-title{
        font-size: 30rem;
        line-height: 40rem;
    }
}

/* blup blup trigger animation */
.animate-custom-blup-blup{
    animation: blup-blup 1s ease-in-out infinite;
}

@keyframes blup-blup {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}